.sliderContainer {
  margin-bottom: 10px;
  text-align: center;
  position: relative;
}

.sliderContainer img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.sliderContainer button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 20%;
  border: none;
  opacity: 0.3;
  transition: opacity 0.2s;
}

.sliderContainer button:hover {
  opacity: 60%;
}

.sliderContainer button:first-of-type {
  left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sliderContainer button:last-of-type {
  right: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
